<link rel="stylesheet" href="styles/pagination.css">
<div class="pagination-content">
    <div class="left-container">
        <p>Itens por página</p>
        <select name="" id="">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
        <p>1-5 de 500 itens</p>
    </div>
    <div>
        <button>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9001 0L6.7051 11.67V0H5.1001V24H6.7051V12.33L18.9001 24V0ZM17.2951 20.25L8.6701 12L17.2951 3.75V20.25Z" fill="#0672CB"/>
            </svg>
        </button>
        <button>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.72998 12L18.27 24V0L5.72998 12ZM16.665 20.25L8.03998 12L16.665 3.75V20.25Z" fill="#0672CB"/>
            </svg>
            <p class="paragraph-btn">Anterior</p>               
        </button>
        <div class="input-container">
            <p class="pagina">Página</p>
            <input type="text" value="1">
            <p>de 50</p>
        </div>
        <button>
            <p class="paragraph-btn">Próximo</p>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.72998 0V24L18.27 12L5.72998 0ZM7.33498 3.75L15.96 12L7.33498 20.25V3.75Z" fill="#0672CB"/>
            </svg>
        </button>
        <button>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2951 0V11.67L5.1001 0V24L17.2951 12.33V24H18.9001V0H17.2951ZM6.7051 20.25V3.75L15.3301 12L6.7051 20.25Z" fill="#0672CB"/>
            </svg>                
        </button>
    </div>
</div>