
.conteudo {
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.conteudo h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
}

.tasks-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tasks-content .left-side,
.tasks-content .right-side {
    width: 48%;
    height: 100%;
}

.tasks-content .side-container h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.manualCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 1.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 12px;
}

.manualCard .title-line {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.manualCard .title-line h5 {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0;
}

.manualCard .lines {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1rem;
}

.manualCard .lines p {
    font-size: 0.8rem;
    margin: 0;
}

.manualCard .lines p span.pendente {
    font-weight: bold;
    color: #BB2A33;
}

.manualCard .lines p span.concluido {
    font-weight: bold;
    color: #28A745;
    /* Verde */
}

.manualCard .lines a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: #0672CB;
    text-decoration: none;
    border: 2px solid #0672CB;
    border-left: none;
    border-right: none;
    border-top: none;
}

.manualCard .lines a svg {
    width: 0.9rem;
    height: 0.9rem;
}