
.sidebar {
    padding-block: 1rem;
    position: sticky;
    height: calc(100vh - 80px);
    top: 80px;
    border-right: 2px solid #D2D2D2;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 250ms ease-in-out;
    width: 5.2rem;
}
.sidebar-opened {
    width: 18rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar a {
    text-decoration: none;
}
.sidebar ul p {
    color: #0E0E0E;
    position: absolute;
    left: 5rem;
    font-size: 1rem;
}
a:hover {
    background-color: #F5F6F7;
}
.sidebar a {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    position: relative;
}

.sidebar svg {
    width: 2rem;
    height: 2rem;
}
.sidebar a.selected-item::after {
    content: '';
    position: absolute;
    width: 8px;
    top: 0;
    height: 100%;
    background-color: #0063B8;
    right: 0;
}
.hideText {
    display: none;
}
.sidebar button {
    color: #F5F6F7;
    background-color: #0063B8;
    border: none;
    align-self: stretch;
    margin-inline: 4px;
    padding-inline: 16px;
    padding-block: 4px;
    border-radius: 4px;
}