<title>
    <%- title = "Perfil Montador" %>
</title>
<%- include('../components/header.ejs'); %>
    <div style="margin-top: 80px; width: 100%; position: relative;" class="d-flex">
        <%- include('../components/sidebar-adm.ejs'); %>
            <div id="loading" class="spinner-border text-primary" role="status" style="display: none; position: fixed; left: 50%; top: 50%; z-index: 1000;"></div>
            <div class="main-content col-md-9 ms-sm-auto col-lg-10">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-2 mb-3">
                    <h1 style="font-weight: 400;">Perfil</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <button type="button" class="btn btn-sm d-flex align-items-center" onclick="editTeamById()" id="editTeamById" style="border: 1px solid #0672CB;">
          <i class="mr-2">
            <svg style="margin-right: 16px;" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.3375 0L2.3 14.0375L0.225 19.3625L0 20L0.6375 19.775L5.975 17.6875L20 3.6625L16.3375 0ZM2.3375 17.6625L3.4125 14.8875L5.125 16.575L2.3375 17.6625ZM6.0875 15.65L4.325 13.9L14.325 3.9L16.0875 5.6375L6.0875 15.6375V15.65ZM15.3 2.95L16.3375 1.9125L18.0875 3.6625L17.0625 4.6875L15.3 2.95Z" fill="#0E0E0E" fill-opacity="0.7"/>
              </svg>
          </i>
        Editar linha de montagem
        </button>
                    </div>
                </div>

                <div class="mb-4" style="max-width: 800px; background-color: white;">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex flex-column align-items-center">
                            <img id="user-profile-photo" src="https://i.ibb.co/HnWFr3v/NO-PROFILE-PIC-5.jpg" class="img-fluid rounded-start mb-3" alt="Profile picture">
                        </div>
                        <div class="col-md-8" style="padding-left: 2rem;">
                            <div class="card-body">
                                <h2 id="user-name" class="card-title">Carregando...</h2>
                                <br>
                                <p id="user-email" class="card-text">E-mail: Carregando...</p>
                                <br>
                                <p id="date" class="card-text">Entrou no dia: Carregando...</p>
                                <br>
                                <p id="user-team" class="card-text">Equipe: Carregando...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <script>
        const userId = window.location.pathname.split('/').pop();
        const name = document.getElementById('user-name');
        const email = document.getElementById('user-email');
        const date = document.getElementById('date');
        const profilePic = document.getElementById('user-profile-photo');
        const team = document.getElementById('user-team');

        async function getDetails() {

            try {

                const response = await fetch(`/api/listById/${userId}`);

                if (!response) {
                    throw new Error('Erro ao encontrar perfil');
                }

                const userDetails = await response.json();

                name.innerHTML = `${userDetails.name}`;
                email.innerHTML = `Email: ${userDetails.email}`;
                date.innerHTML = `Entrou no dia: ${new Date(userDetails.createdAt).toLocaleDateString()}`;
                team.innerHTML = `Equipe: ${userDetails.team.name}`;
                if (userDetails.profile_photo) {
                    profilePic.src = userDetails.profile_photo;
                }
                disableLoading()

            } catch (error) {
                disableLoading()
                console.error(error);
            }

        }

        async function editTeamById() {
            window.location.href = `/engineer/edit-team/${userId}`;
        }

        function activeLoading() {
            const loading = document.getElementById('loading');
            loading.style.display = 'block';
        }

        function disableLoading() {
            const loading = document.getElementById('loading');
            loading.style.display = 'none';
        }

        getDetails()
        activeLoading()
    </script>